<div id="<%= dom_id kanji %>">
  <p>
    <strong>Character:</strong>
    <%= kanji.character %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= kanji.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= kanji.user_id %>
  </p>

  <p>
    <%= link_to "Show this kanji", kanji %>
  </p>
</div>
