<div class="keyboard-shortcuts-page">
  <h1 class="title">Keboard shortcuts</h1>

  <p>
    From the start, jpstudy.app was built as a tool to help optimize a Japanese language learner's study time. If you're a power user at heart and clicking around the site isn't fast enough for you, then this is what you've been looking for; keyboard shortcuts. 👩‍💻
  </p>

  <h3 class="title">How does this tool work?</h3>

  <ul class="code-block">
    <li>NAVIGATION:</li>
    <li>w <%= heroicon "arrow-narrow-right" %> word list</li>
    <li>c <%= heroicon "arrow-narrow-right" %> word list + card filters</li>
    <li>n <%= heroicon "arrow-narrow-right" %> new word</li>
    <li>s <%= heroicon "arrow-narrow-right" %> word search</li>
    <li>t <%= heroicon "arrow-narrow-right" %> user stats</li>
    <li>k <%= heroicon "arrow-narrow-right" %> next kanji</li>
    <li>i <%= heroicon "arrow-narrow-right" %> import/export tools</li>
    <li>e <%= heroicon "arrow-narrow-right" %> import/export tools</li>
    <li>h <%= heroicon "arrow-narrow-right" %> keyboard shortcuts help</li>
    <br/>
    <li>BONUS:</li>
    <li>escape <%= heroicon "arrow-narrow-right" %> close flash message or cancel word form</li>
    <li>enter&nbsp; <%= heroicon "arrow-narrow-right" %> close flash message or submit form</li>
  </ul>

  <p class="contact">
    Questions about this feature? We'd love to hear your thoughts! You can reach us any time at <a href="mailto:support@jpstudy.app">support@jpstudy.app</a>.
  </p>
</div>
