<div class="login-form-container">
  <div class="login-form">
    <h2 class="title">Log in</h2>

    <%= form_with(url: login_path) do |form| %>
      <%= form.label :email %>
      <%= form.text_field :email, required: true, autofocus: true, type: "email" %>

      <%= form.label :password %>
      <%= form.text_field :password, required: true, type: "password", autocomplete: "off" %>

      <%= form.hidden_field :ref_id, value: params[:ref_id]&.strip %>

      <div class="actions">
        <%= form.submit "Log in", class: "button-blue" %>
      </div>
    <% end %>

    <div class="more-actions">
      <%= link_to "Forgot password?", password_forgot_path, class: "forgot-password-button" %>
    </div>
  </div>
</div>
