<div class="audio-tools-container">
  <div class="japanese-to-audio-form">
    <h2 class="title">Japanese to audio</h2>

    <p class="light-gray head-explanation">
      Convert Japanese text to audio files with Amazon Polly
    </p>

    <%= form_tag(japanese_to_audio_media_tools_path) do |form| %>
      <div class="field">
        <%= label_tag :japanese %>
        <%= text_area_tag :japanese, nil, required: true, rows: 3, minlength: 1, maxlength: MediaToolsController::MAX_TEXT_LENGTH %>
      </div>

      <div class="field">
        <%= label_tag :english %><span class="light-gray inline-explanation">(optional)</span>
        <%= text_area_tag :english, nil, rows: 3, maxlength: MediaToolsController::MAX_TEXT_LENGTH %>
      </div>

      <div class="field neural-voice-field">
        <%= label_tag :use_neural_voice, class: "switch", tabindex: "-1" do %>
          <%= check_box_tag :use_neural_voice, true, params[:use_neural_voice] == "true" %>
          <span class="slider round"></span>
        <% end %>
        <span class="label-text">Use neural voice</span>
      </div>

      <div class="actions">
        <%= submit_tag "Convert", class: "button-blue", disabled: !@current_user.can_do_more_audio_conversions?, data: { controller: "disable", disable_with_value: "Converting...", action: "disable#disableButton", disable_target: "button" } %>
      </div>
    <% end %>

    <% if @audio_url && @filename %>
      <div
        class="audio-link-container"
        data-controller="clipboard"
        data-clipboard-copy-value="<%= @audio_url %>"
        data-turbo-cache="false"
      >
        <%= link_to(
          @audio_url,
          class: "download-link",
          title: "Copy or download",
          aria_label: "Copy or download",
          download: "#{@filename}",
          target: "_blank",
          rel: "noopener noreferrer"
        ) do %>
          <%= @filename %>
        <% end %>
        <button class="copy-audio-link-button" data-action="click->clipboard#copy" title="Click to copy audio link">
          <%= heroicon "clipboard", variant: :outline, options: { class: "copy-icon", "data-clipboard-target" => "copyIcon" } %>
          <%= heroicon "check", variant: :outline, options: { class: "copied-icon hidden", "data-clipboard-target" => "checkIcon" } %>
        </button>
      </div>

      <p class="light-gray link-explanation">
        <%= heroicon "clock", variant: :outline %>
        Download link will expire in one hour
      </p>
    <% end %>
  </div>
</div>
