<div class="user-edit-form-container">
  <div class="user-edit-form">
    <h2 class="title">Edit your user details</h2>

    <%= form_with(model: @user) do |form| %>
      <div class="field">
        <%= form.label :name %><span class="light-gray inline-explanation">(private)</span>
        <%= form.text_field :name, required: true %>
      </div>

      <div class="field">
        <%= form.label :username %>
        <%= form.text_field :username, required: true, pattern: "[a-zA-Z0-9]{1,39}", title: "Username can only contain letters and numbers and must be 1-39 characters in length" %>
      </div>

      <div class="field">
        <%= form.label :email %><span class="light-gray inline-explanation">(private)</span>
        <%= form.text_field :email, type: "email", required: true %>
      </div>

      <div class="actions">
        <%= form.submit "Update", class: "button-blue" %>
      </div>
    <% end %>
  </div>
</div>
