<div class="user-edit-form-container">
  <div class="user-word-target-form">
    <h2 class="title">Edit your study targets</h2>

    <%= form_with(model: @user) do |form| %>
      <div class="field">
        <%= form.label :next_word_goal %>
        <%= form.text_field :next_word_goal, type: "number", placeholder: 1500 %>
      </div>

      <div class="field">
        <%= form.label :daily_word_target %>
        <%= form.text_field :daily_word_target, type: "number", placeholder: 5 %>
      </div>

      <div class="field">
        <%= form.label :next_kanji_goal %>
        <%= form.text_field :next_kanji_goal, type: "number", placeholder: 1000 %>
      </div>

      <div class="field">
        <%= form.label :daily_kanji_target %>
        <%= form.text_field :daily_kanji_target, type: "number", placeholder: 3 %>
      </div>

      <div class="actions">
        <%= form.submit "Update", class: "button-blue" %>
        <%= link_to "Cancel", stats_user_path(@current_user), class: "basic-button back-button" %>
      </div>
    <% end %>
  </div>
</div>
