<div class="signup-form-container">
  <div class="signup-form" data-controller="signup">
    <h2 class="title">Sign up</h2>

    <%= form_with(model: @user) do |form| %>
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, required: true %>
      </div>

      <div class="field">
        <%= form.label :username %>
        <%= form.text_field :username, required: true, pattern: "[a-zA-Z0-9]{1,39}", title: "Username can only contain letters and numbers and must be 1-39 characters in length" %>
      </div>

      <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email, type: "email", required: true %>
      </div>

      <div class="field">
        <%= form.label :password %>
        <%= form.text_field :password, type: "password", required: true, minlength: 12, data: { signup_target: "password", action: "change->signup#validatePassword" } %>
      </div>

      <div class="field">
        <%= form.label :password_confirmation %>
        <%= form.text_field :password_confirmation, type: "password", required: true, minlength: 12, data: { signup_target: "passwordConfirmation", action: "keyup->signup#validatePassword" } %>
      </div>

      <div class="actions">
        <%= form.submit "Sign up", class: "button-blue" %>
      </div>
    <% end %>
  </div>
</div>
