<div class="user-profile-page">
  <h2 class="title">User details</h2>

  <p>
    <strong>Name:</strong>
    <%= @user.name %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= @user.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>
      Trial <%= @user.trial_active? ? "expires" : "expired" %>:
    </strong>
    <%= @user.trial_ends_at&.strftime("%m/%d/%Y") %>
  </p>

  <p class="word-limit-field">
    <strong>Word limit:</strong>
    <span class="<%= @current_user.has_reached_word_limit? ? "alert-red" : "" %>">
      <%= @user.word_limit || "None" %>
    </span>
    <%= link_to(word_limit_path, title: "What is a word limit?") do %>
      <%= heroicon "information-circle", variant: :outline, options: { class: "info-icon" } %>
    <% end %>
  </p>

  <div class="user-actions">
    <%= link_to("Edit profile", edit_user_path(@user), class: "button-blue edit-button") %>
    <%= link_to("Delete account", before_you_go_user_path(@user), class: "button-red") %>
  </div>

  <div class="square">
    <%# NOTE: this session value should only be used for caching this fragment %>
    <% should_cache = session[:revalidate_subscription_at] && Time.at(session[:revalidate_subscription_at].to_i).utc >= Time.now.utc %>
    <% cache_if(should_cache, "subscription/#{@current_user.id}/#{session[:revalidate_subscription_at]}", skip_digest: true) do %>
      <% if @user.active_subscription.present? %>
        <h3 class="title">Manage your subscription</h3>
        <p>
          A monthly subscription is required to unlock full access to the site after
          your free trial. Your payment information is processed and stored by
          <a href="https://squareup.com/us/en/legal/general/buyer-features" target="_blank" class="link-blue">Square</a>
          and is not accessed by this site. You may cancel your subscription at any time.
        </p>
        <p>
          <strong>Start date:</strong>
          <%= @user.active_subscription.start_date.strftime("%m/%d/%Y") %>
        </p>
        <p>
          <strong>Next charge date:</strong>
          <%# NOTE: this session value should only be used for caching this fragment %>
          <% session[:revalidate_subscription_at] = @user.active_subscription.next_charge_date.utc.to_i %>
          <%= @user.active_subscription.next_charge_date.strftime("%m/%d/%Y") %>
        </p>
        <div>
          <a href="<%= @user.active_subscription.self_management_link %>" class="square-button manage-subscription-button" target="_blank">
            Manage subscription with Square
          </a>
        </div>
      <% else %>
        <%# NOTE: this session value should only be used for caching this fragment %>
        <% session[:revalidate_subscription_at] = nil %>
        <h3 class="title">Subscribe</h3>
        <p>
          To unlock full access to the site after your free trial, you can subscribe
          for $1.00 a month. Your payment information is processed and stored by
          <a href="https://squareup.com/us/en/legal/general/buyer-features" target="_blank">Square</a>
          and is not accessed by this site. You may cancel your subscription at any time.
        </p>

        <div>
          <a href="https://square.link/u/oricGJt8?src=embed" class="square-button checkout-button">
            Subscribe with Square
          </a>
        </div>

        <br/>

        <p class="contact light-gray">
          <em>If you have already subscribed and are still seeing this message, please follow
          the link in your email to confirm your subscription. If you are still having trouble
          with your subscription please contact us at <a href="mailto:support@jpstudy.app" class="link-blue">support@jpstudy.app</a>
          for additional help.</em>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
