<div class="user-stats-page">
  <h1 class="page-title">Your stats</h1>

  <p>
    Statistics can be a motivating way to see how your daily choices add up to tangible
    progress toward your study goals. At jpstudy, we don't collect user data like location
    or last login date, but we'd love to tell you about some stats we <em>do</em> know,
    based on the content you've created!
  </p>

  <div class="stats">
    <h3 class="catagory-title">
      Words&nbsp;<%= heroicon "trending-up" %>
    </h3>

    <div class="stats-card-container">
      <div class="stats-card">
        <%= link_to edit_targets_user_path, class: "edit-link", title: "Edit your study targets" do %>
          <%= heroicon "pencil-alt", variant: :outline, options: { class: "icon" } %>
        <% end %>
        <h4 class="catagory-subtitle">Study targets:</h4>
        <p>
          <span class="light-gray">Words checked off today:</span>
          <% if @current_user.daily_word_target.blank? %>
            <% word_count_class = "normal-weight" %>
          <% elsif @current_user.has_reached_or_exceeded_daily_word_target? %>
            <% word_count_class = "success-green" %>
          <% else %>
            <% word_count_class = "pink" %>
          <% end %>
          <strong class="<%= word_count_class %>">
            <%= @words_checked_today_count %>
          </strong>
        </p>
        <p>
          <span class="light-gray">Daily target:</span>
          <% if @current_user.daily_word_target %>
            <%= pluralize @current_user.daily_word_target, "word" %> per day
          <% else %>
            <%= link_to "not set", edit_targets_user_path, class: "link-blue", title: "Edit your study targets" %>
          <% end %>
        </p>
        <p>
          <span class="light-gray">Learning goal:</span>
          <% if @current_user.next_word_goal %>
            <%= pluralize @current_user.next_word_goal, "word" %>
          <% else %>
            <%= link_to "not set", edit_targets_user_path, class: "link-blue", title: "Edit your study targets" %>
          <% end %>
        </p>
        <% if @days_to_word_target %>
          <p>
            <span class="light-gray">Time to learning goal:</span>
            <%= distance_of_time_in_words(@days_to_word_target.days) %>
          </p>
        <% end %>
      </div>

      <div class="stats-card">
        <h4 class="catagory-subtitle">Totals:</h4>
        <p>
          <span class="light-gray">Not checked:</span>
          <%= @words_not_checked_count %>
        </p>
        <p>
          <span class="light-gray">Checked:</span>
          <%= @checked_words_count %>
        </p>
        <p>
          <span class="light-gray">Next JLPT level:</span>
          <% if @checked_words_count <= 800 %>
            N5 (800 words)
          <% elsif @checked_words_count <= 1500 %>
            N4 (1500 words)
          <% elsif @checked_words_count <= 3700 %>
            N3 (3700 words)
          <% elsif @checked_words_count <= 6000 %>
            N2 (6000 words)
          <% else %>
            N1 (10000 words)
          <% end %>
        </p>
      </div>
    </div>

    <h3 class="catagory-title">
      Kanji&nbsp;
      <%= link_to wall_kanji_path(@current_user), title: "You found an easter egg 🥚 \nClick here to check out your Kanji wall!" do %>
        <%= heroicon "trending-up" %>
      <% end %>
    </h3>

    <div class="stats-card-container">
      <div class="stats-card">
        <%= link_to edit_targets_user_path, class: "edit-link", title: "Edit your study targets" do %>
          <%= heroicon "pencil-alt", variant: :outline, options: { class: "icon" } %>
        <% end %>
        <h4 class="catagory-subtitle">Study targets:</h4>
        <p>
          <% if @current_user.daily_kanji_target.blank? %>
            <% kanji_count_class = "normal-weight" %>
          <% elsif @current_user.has_reached_or_exceeded_daily_kanji_target? %>
            <% kanji_count_class = "success-green" %>
          <% else %>
            <% kanji_count_class = "pink" %>
          <% end %>
          <span class="light-gray">Kanji added today:</span>
          <strong class="<%= kanji_count_class %>">
            <%= @kanji_added_today %>
          </strong>
        </p>
        <p>
          <span class="light-gray">Daily target:</span>
          <% if @current_user.daily_kanji_target %>
            <%= @current_user.daily_kanji_target %> kanji per day
          <% else %>
            <%= link_to "not set", edit_targets_user_path, class: "link-blue", title: "Edit your study targets" %>
          <% end %>
        </p>
        <p>
          <span class="light-gray">Learning goal:</span>
          <% if @current_user.next_kanji_goal %>
            <%= @current_user.next_kanji_goal %> kanji
          <% else %>
            <%= link_to "not set", edit_targets_user_path, class: "link-blue", title: "Edit your study targets" %>
          <% end %>
        </p>
        <% if @days_to_kanji_target %>
          <p>
            <span class="light-gray">Time to learning goal:</span>
            <%= distance_of_time_in_words(@days_to_kanji_target.days) %>
          </p>
        <% end %>
      </div>

      <div class="stats-card">
        <h4 class="catagory-subtitle">Totals:</h4>
        <p>
          <span class="light-gray">New kanji:</span>
          <%= @kanji_to_add_count %>
        </p>
        <p>
          <span class="light-gray">Kanji added:</span>
          <%= @kanji_added_count %>
        </p>
        <p>
          <span class="light-gray">Kanji skipped:</span>
          <%= @kanji_skipped_count %>
        </p>
      </div>
    </div>
  </div>
</div>
