<div class="user-stats-page">
  <h1 class="page-title">Your stats</h1>

  <p>
    Statistics can be a motivating way to see how your daily choices are adding up to tangible progress toward your study goals. At jpstudy, we don't collect user data like location or last login date, but we'd love to tell you about the stats we <em>do</em> know, based on the content you've created!
  </p>

  <div class="stats">
    <h3 class="catagory-title">
      Words&nbsp;
      <%= heroicon "trending-up" %>
    </h3>
    <p>
      <strong>Total words:</strong>
      <span class="<%= @current_user.has_reached_word_limit? ? "alert-red" : "" %>">
        <%= @total_words_created_count %>
      </span>
      <span class="light-gray"> / <%= @current_user.word_limit || "♾️" %></span>
      <%= link_to(content_limits_path, title: "What are content limits?") do %>
        <%= heroicon "information-circle", variant: :outline, options: { class: "info-icon" } %>
      <% end %>
    </p>
    <p>
      <strong>Words with cards created:</strong>
      <%= @words_with_cards_created_count %>
    </p>
    <p>
      <strong>Words ready for cards:</strong>
      <%= @words_ready_for_cards_count %>
    </p>
    <p>
      <strong>Next learning goal:</strong>
      <% if @current_user.next_word_goal %>
        <%= pluralize @current_user.next_word_goal, "word" %>
      <% else %>
        <span class="light-gray">Not set</span>
      <% end %>
    </p>
    <p>
      <strong>Study target:</strong>
      <% if @current_user.daily_word_target %>
        <%= pluralize @current_user.daily_word_target, "new card" %> per day
      <% else %>
        <span class="light-gray">Not set</span>
      <% end %>
    </p>
    <p>
      <strong>Cards created today:</strong>
      <% if @current_user.has_reached_or_exceeded_daily_word_target? %>
        <strong class="success-green">
          <%= @words_with_cards_created_today %>
        </strong>
      <% else %>
        <%= @words_with_cards_created_today %>
      <% end %>
    </p>
    <% if @days_to_word_target %>
      <p>
        <strong>Time to learning goal:</strong>
        <%= distance_of_time_in_words(@days_to_word_target.days) %>
      </p>
    <% end %>

    <h3 class="catagory-title">
      Kanji&nbsp;
      <%= heroicon "trending-up" %>
    </h3>
    <p>
      <strong>Total kanji:</strong>
      <span class="<%= @current_user.has_reached_kanji_limit? ? "alert-red" : "" %>">
        <%= @total_kanji_count %>
      </span>
      <span class="light-gray"> / <%= @current_user.kanji_limit || "♾️" %></span>
      <%= link_to(content_limits_path, title: "What are content limits?") do %>
        <%= heroicon "information-circle", variant: :outline, options: { class: "info-icon" } %>
      <% end %>
    </p>
    <p>
      <strong>Kanji added:</strong>
      <%= @kanji_added_count %>
    </p>
    <p>
      <strong>New kanji to add:</strong>
      <%= @kanji_to_add_count %>
    </p>
    <p>
      <strong>Next learning goal:</strong>
      <% if @current_user.next_kanji_goal %>
        <%= @current_user.next_kanji_goal %> kanji
      <% else %>
        <span class="light-gray">Not set</span>
      <% end %>
    </p>
    <p>
      <strong>Study target:</strong>
      <% if @current_user.daily_kanji_target %>
        <%= @current_user.daily_kanji_target %> kanji per day
      <% else %>
        <span class="light-gray">Not set</span>
      <% end %>
    </p>
    <p>
      <strong>Kanji added today:</strong>
      <% if @current_user.has_reached_or_exceeded_daily_kanji_target? %>
        <strong class="success-green">
          <%= @kanji_added_today %>
        </strong>
      <% else %>
        <%= @kanji_added_today %>
      <% end %>
    </p>
    <% if @days_to_kanji_target %>
      <p>
        <strong>Time to learning goal:</strong>
        <%= distance_of_time_in_words(@days_to_kanji_target.days) %>
      </p>
    <% end %>
  </div>

  <br/>

  <div class="actions">
    <%= link_to "Edit study targets", edit_targets_user_path, class: "button-blue" %>
  </div>

  <p class="contact">
    Questions? Other stats you'd like to see? We'd love to hear your thoughts! You can reach us any time at <a href="mailto:support@jpstudy.app">support@jpstudy.app</a>.
  </p>
</div>
