<div class="user-stats-page">
  <h1 class="page-title">Your stats</h1>

  <p>
    Statistics can be a motivating way to see how your daily choices are adding up to tangible progress toward your study goals. At jpstudy, we don't collect user data like location or last login date, but we'd love to tell you about the stats we <em>do</em> know, based on the content you've created!
  </p>

  <div class="stats">
    <p>
      <strong>Total words:</strong>
      <span class="<%= @current_user.has_reached_word_limit? ? "alert-red" : "" %>">
        <%= @total_words_created_count %>
      </span>
      <span class="light-gray"> / <%= @current_user.word_limit || "♾️" %></span>
      <%= link_to(word_limit_path, title: "What is a word limit?") do %>
        <%= heroicon "information-circle", variant: :outline, options: { class: "info-icon" } %>
      <% end %>
    </p>
    <p>
      <strong>Words with cards created:</strong>
      <%= @words_with_cards_created_count %>
    </p>
    <p>
      <strong>New words ready for cards:</strong>
      <%= @words_ready_for_cards_count %>
    </p>
    <p>
      <strong>Words with cards created today:</strong>
      <% if @words_with_cards_created_today >= 5 %>
        <strong class="success-green">
          <%= @words_with_cards_created_today %>
        </strong>
      <% else %>
        <%= @words_with_cards_created_today %>
      <% end %>
    </p>
  </div>

  <p class="contact">
    Questions? Other stats you'd like to see? We'd love to hear your thoughts! You can reach us any time at <a href="mailto:support@jpstudy.app">support@jpstudy.app</a>.
  </p>
</div>
