<div class="next-kanji-page" data-last-update="<%= Time.now.utc%>">
  <% unless ENV["DISABLE_WEBSOCKETS"] %>
    <%= turbo_stream_from @resource_owner.kanji_stream_name %>
  <% end %>

  <div class="settings">
    <div class="settings-dropdown">
      <%= heroicon "cog", variant: :outline, options: { class: "settings-icon" } %>
      <div class="settings-dropdown-content">
        <% if @next_kanji&.id %>
          <%= link_to(
            delete_kanji_path(@resource_owner, @next_kanji.id),
            method: :delete,
            params: { kanji: { status: Kanji::NEW_STATUS } },
            title: "Delete this kanji from your list",
            data: {
              turbo_method: :delete,
              controller: "disable",
              disable_with_value: "Deleting...",
              action: "disable#disableButton",
              disable_target: "button"
            }) do %>
            <span class="delete-kanji">
              <%= heroicon "trash", variant: :outline %>
              Delete
            </span>
          <% end %>
        <% end %>
        <%= link_to(finder_kanji_path(@resource_owner)) do %>
          <span>
            <%= heroicon "chip", variant: :outline %>
            Kanji finder tool
          </span>
        <% end %>
      </div>
    </div>
  </div>

  <h1 class="page-title">
    Next kanji
    <%= link_to(next_kanji_instructions_path, title: "What does this feature do?") do %>
      <%= heroicon "information-circle", variant: :outline, options: { class: "info-icon" } %>
    <% end %>
  </h1>

  <div class="next-kanji-container" data-controller="clipboard" data-clipboard-copy-value="<%= @next_kanji&.character %>">
    <% if @next_kanji %>
      <div class="next-kanji-card">
        <button class="copy-kanji-button" data-action="click->clipboard#copy" title="Click to copy character">
          <%= heroicon "clipboard", variant: :outline, options: { class: "copy-kanji-icon", "data-clipboard-target" => "copyIcon" } %>
          <span class="tooltip-target">
            <%= heroicon "check", variant: :outline, options: { class: "kanji-copied-icon hidden", "data-clipboard-target" => "checkIcon" } %>
            <span class="tooltip-text" data-clipboard-target="tooltipText">Copied!</span>
          </span>
        </button>
        <span class="character">
          <%= @next_kanji.character %>
        <span>
      </div>
    <% else %>
      <p class="no-next-kanji-message light-gray">
        No new kanji to add 🎉
      </p>
    <% end %>
  </div>

  <div class="actions">
    <% if @current_user&.can_modify_resources_belonging_to?(@resource_owner) %>
      <% if @as_seen_in_words.any? %>
        <%# this was probably added from the word list, not manually, safe to delete on undo %>
        <%= button_to(delete_kanji_path(@resource_owner, @previous_kanji || 0), class: "basic-button", method: :delete, title: "Remove the last kanji that was #{@previous_kanji&.status == Kanji::SKIPPED_STATUS ? "skipped" : "added"}", data: { controller: "disable", disable_with_value: "Undoing...", action: "disable#disableButton", disable_target: "button" }, disabled: @previous_kanji.nil?) do %>
          <%= heroicon "rewind", options: { class: "back-button-icon" } %>
          Undo
        <% end %>
      <% else %>
        <%# this was probably added manually, don't delete the record on undo %>
        <%= button_to(update_kanji_path(@resource_owner, @previous_kanji || 0), class: "basic-button", method: :patch, params: { kanji: { status: Kanji::NEW_STATUS } }, title: "Undo the last kanji that was #{@previous_kanji&.status == Kanji::SKIPPED_STATUS ? "skipped" : "added"}", data: { controller: "disable", disable_with_value: "Undoing...", action: "disable#disableButton", disable_target: "button" }, disabled: @previous_kanji.nil?) do %>
          <%= heroicon "rewind", options: { class: "back-button-icon" } %>
          Undo
        <% end %>
      <% end %>
      <%= button_to(kanji_path(@resource_owner), class: "button-pink", method: :post, params: { kanji: { character: @next_kanji&.character, status: Kanji::SKIPPED_STATUS } }, data: { controller: "disable", disable_with_value: "Skipping...", action: "disable#disableButton", disable_target: "button" }, disabled: @next_kanji.nil?) do %>
        <%= heroicon "eye-off", variant: :outline, options: { class: "skip-button-icon" } %>
        Skip
      <% end %>
      <%= button_to(kanji_path(@resource_owner), class: "button-purple", method: :post, params: { kanji: { character: @next_kanji&.character, status: Kanji::ADDED_STATUS } }, data: { controller: "disable", disable_with_value: "Adding...", action: "disable#disableButton", disable_target: "button" }, disabled: @next_kanji.nil?) do %>
        <%= heroicon "plus", options: { class: "add-button-icon" } %>
        Add
      <% end %>
    <% end %>
  </div>

  <div class="kanji-resources">
    <% if @next_kanji %>
      <%= link_to("https://app.kanjialive.com/#{@next_kanji.character}", target: "_blank", rel: "noopener noreferrer", title: "Kanjialive kanji search") do %>
        <span class="resource-name">Kanjialive</span>
        <%= image_tag "resource_icons/kanjialive.jpg" %>
      <% end %>
      <%= link_to("https://www.japandict.com/kanji/#{@next_kanji.character}", target: "_blank", rel: "noopener noreferrer", title: "JapanDict kanji search") do %>
        <span class="resource-name">JapanDict</span>
        <%= image_tag "resource_icons/japandict.png" %>
      <% end %>
      <%= link_to("https://en.wiktionary.org/wiki/#{@next_kanji.character}#Japanese", target: "_blank", rel: "noopener noreferrer", title: "Wiktionary kanji search") do %>
        <span class="resource-name">Wictionary</span>
        <%= image_tag "resource_icons/wictionary.png" %>
      <% end %>
    <% end %>
  </div>

  <div class="as-seen-in">
    <% if @as_seen_in_words.any? %>
      <%= render partial: "words/word", collection: @as_seen_in_words, cached: true %>
    <% end %>
  </div>
</div>
