<div class="next-kanji-page">
  <h1 class="page-title">
    Next kanji
    <%= link_to(next_kanji_instructions_path, title: "What does this feature do?") do %>
      <%= heroicon "information-circle", variant: :outline, options: { class: "info-icon" } %>
    <% end %>
  </h1>

  <div class="next-kanji-container" data-controller="kanji" data-action="click->kanji#copy">
    <div class="next-kanji-card">
      <span class="tooltiptext">Click to copy</span>
      <span class="character" data-kanji-target="character">
        <%= @next_kanji %>
      <span>
    </div>
  </div>

  <div class="actions">
    <%= button_to(kanji_path, class: "basic-button", method: :post, params: { kanji: { character: @next_kanji, status: Kanji::SKIPPED_STATUS } }, data: { controller: "disable", disable_with_value: "<div class=\"loader\"></div>", action: "disable#disableButton", disable_target: "button" }) do %>
      <%= heroicon "eye-off", variant: :outline, options: { class: "skip-button-icon" } %>
      Skip
    <% end %>
    <%= button_to(kanji_path, class: "button-purple", method: :post, params: { kanji: { character: @next_kanji, status: Kanji::ADDED_STATUS } }, data: { controller: "disable", disable_with_value: "<div class=\"loader\"></div>", action: "disable#disableButton", disable_target: "button" }) do %>
      <%= heroicon "plus", options: { class: "add-button-icon" } %>
      Add
    <% end %>
  </div>

  <div class="resources">
    <%= link_to("https://app.kanjialive.com/#{@next_kanji}", target: "_blank", title: "Kanjialive kanji search") do %>
      <span class="resource-name">Kanjialive</span>
      <%= image_tag "resource_icons/kanjialive.jpeg" %>
    <% end %>
    <%= link_to("https://www.japandict.com/kanji/#{@next_kanji}", target: "_blank", title: "JapanDict kanji search") do %>
      <span class="resource-name">JapanDict</span>
      <%= image_tag "resource_icons/japandict.png" %>
    <% end %>
    <%= link_to("https://en.wiktionary.org/wiki/#{@next_kanji}#Japanese", target: "_blank", title: "Wiktionary kanji search") do %>
      <span class="resource-name">Wictionary</span>
      <%= image_tag "resource_icons/wictionary.png" %>
    <% end %>
  </div>
</div>
