<div class="filters">
  <% if params[:search] %>
    <%= link_to words_path(@resource_owner, filter_params_minus(:search)), title: "Filtering by your search, click to disable filter", class: "search-results" do %>
      <%= heroicon "search", variant: :outline %>
      <span class="filter-description">
        Search: '<%= params[:search]&.strip %>'
      </span>
    <% end %>
  <% end %>
  <% if params[:source_name] %>
    <%= link_to words_path(@resource_owner, filter_params_minus(:source_name)), title: "Filtered by source name, click to disable filter", class: "source-name-filter" do %>
      <%= heroicon "book-open", variant: :outline %>
      <span class="filter-description">
        Source: '<%= params[:source_name]&.strip %>'
      </span>
    <% end %>
  <% end %>
  <% if params[:order] == "oldest_first" %>
    <%= link_to words_path(@resource_owner, filter_params_minus(:order)), title: "Showing oldest words first, click to reverse order", class: "filter-on" do %>
      <%= heroicon "sort-ascending" %>
      <span class="filter-description">
        Oldest first
      </span>
    <% end %>
  <% else %>
    <%= link_to words_path(@resource_owner, filter_params_plus(order: "oldest_first")), title: "Showing newest words first, click to reverse order", class: "filter-off" do %>
      <%= heroicon "sort-descending" %>
      <span class="filter-description">
        Newest first
      </span>
    <% end %>
  <% end %>
  <% if params[:filter] == "not_checked_off" %>
    <%= link_to words_path(@resource_owner, filter_params_minus(:filter)), title: "Only showing words not checked off, click to disable filter", class: "filter-on" do %>
      <%= heroicon "adjustments" %> <%# gets flipped in CSS %>
      <span class="filter-description">
        Not checked off
      </span>
    <% end %>
  <% else %>
    <%= link_to words_path(@resource_owner, filter_params_plus(filter: "not_checked_off")), title: "No 'checked off' applied, click to only show words that have not been checked off", class: "filter-off" do %>
      <%= heroicon "adjustments" %>
      <span class="filter-description">
        Unfiltered
      </span>
    <% end %>
  <% end %>
  <% if filter_params.except(:order).keys.any? %>
    <%# updated dynamically in app/javascript/controllers/words_counter_controller.js %>
    <span class="light-gray" data-controller="words-counter">
      <small data-words-counter-target="count">
        <% if @matching_words_count == 1 %>
          (1 word matches)
        <% else %>
          (<%= @matching_words_count %> words match)
        <% end %>
      </small>
    </span>
  <% end %>
</div>
