<div class="filters">
  <% if params[:search] %>
    <%= link_to words_path(filter_params_minus(:search)), title: "Your search", class: "search-results" do %>
      <%= heroicon "search", variant: :outline %>
      <span class="filter-description">
        You searched: '<%= params[:search]&.strip %>'
      </span>
    <% end %>
  <% end %>
  <% if params[:order] == "oldest_first" %>
    <%= link_to words_path(filter_params_minus(:order)), title: "Showing oldest words first", class: "filter-on" do %>
      <%= heroicon "arrow-down" %>
      <span class="filter-description">
        Oldest first
      </span>
    <% end %>
  <% else %>
    <%= link_to words_path(filter_params_plus(order: "oldest_first")), title: "Showing newest words first", class: "filter-off" do %>
      <%= heroicon "arrow-up" %>
      <span class="filter-description">
        Newest first
      </span>
    <% end %>
  <% end %>
  <% if params[:filter] == "cards_not_created" %>
    <%= link_to words_path(filter_params_minus(:filter)), title: "Only showing words without cards", class: "filter-on" do %>
      <%= heroicon "adjustments" %>
      <span class="filter-description">
        Filtered to words without cards
      </span>
    <% end %>
  <% else %>
    <%= link_to words_path(filter_params_plus(filter: "cards_not_created")), title: "Showing all words", class: "filter-off" do %>
      <%= heroicon "adjustments" %>
      <span class="filter-description">
        Cards filter off
      </span>
    <% end %>
  <% end %>
</div>
