<div class="word-form" data-controller="word-form">
  <%= form_with(model: word, url: word.new_record? ? words_path(@resource_owner) : word_path(@resource_owner, word), html: { data: { turbo: use_turbo_for_word_form? } }) do |form| %>
    <div class="form-field">
      <%= form.label :japanese %>
      <%= form.text_field :japanese, required: true, autocomplete: "off", data: { lpignore: true }, autofocus: true %>
    </div>

    <div class="form-field">
      <%= form.label :english %>
      <%= form.text_field :english, required: true, autocomplete: "off", data: { lpignore: true } %>
    </div>

    <div class="form-field">
      <%= form.label :source_name %>
      <%= form.text_field :source_name, list: "word-source-name", autocomplete: "off", data: { lpignore: true, word_form_target: "sourceName", action: "word-form#validateSource" } %>
      <datalist id="word-source-name">
        <%= options_for_select(source_name_datalist_values) %>
      </datalist>
    </div>

    <div class="form-field">
      <%= form.label :source_reference %>
      <%= form.text_field :source_reference, autocomplete: "off", data: { lpignore: true, word_form_target: "sourceReference", action: "keyup->word-form#validateSource" } %>
    </div>

    <div class="form-field">
      <%= form.label :note %>
      <%= form.text_area :note, rows: 3, cols: 32, data: { lpignore: true } %>
    </div>

    <% if word.added_to_list_at %>
      <div class="form-field">
        <%= form.label :added_to_list_at %>
        <%= form.date_field :added_to_list_at, maxlength: 10, minlength: 6,  autocomplete: "off", data: { lpignore: true } %>
      </div>
    <% end %>

    <% if word.checked_off_at %>
      <div class="form-field">
        <%= form.label :checked_off_at %>
        <%= form.date_field :checked_off_at, maxlength: 10, minlength: 6,  autocomplete: "off", data: { lpignore: true } %>
      </div>
    <% end %>

    <% filter_params.each do |(k, v)| %>
      <%= hidden_field_tag k, v %>
    <% end %>

    <div class="form-actions">
      <%=
        # this submit input element is currently duplicated in app/views/words/create.turbo_stream.erb:7
        form.submit(
          id: "create-word-button",
          class: "button-blue submit",
          data: {
            controller: "disable",
            disable_with_value: "Saving...",
            disable_use_direct_form_submit_value: !use_turbo_for_word_form?,
            action: "disable#disableButton",
            disable_target: "button"
          }
        )
      %>
      <%= link_to "Cancel", :back, class: "basic-button back-button" %>
    </div>
  <% end %>
</div>
