<%= turbo_frame_tag dom_id(word) do %>
  <div class="word">
    <div class="translation">
      <span class="japanese" lang="jp"><%= word.japanese %></span>
      <span class="english">(<%= word.english %>)</span>
    </div>
    <div class="source-name"><%= word.source_name %></div>
    <div class="added-on"><%= word.created_at.strftime("%m/%d/%Y") %></div>
    <div class="edit"><%= link_to("âœï¸", edit_word_path(word)) %></div>
    <div class="delete"><%= button_to("ðŸ—‘ï¸", word_path(word), method: :delete, data: { turbo: "false" }) %></div>
  </div>
<% end %>
