<%= turbo_frame_tag dom_id(word) do %>
  <div
    class="word"
    data-controller="word"
    data-word-cards-created-value="<%= word.cards_created? %>"
    data-word-target="wordCard"
  >
    <div class="delete">
      <%= button_to(word_path(word), method: :delete, data: { controller: "confirmation", confirmation_message_value: "Are you sure you want to delete '#{word.japanese}'? This action is permanent and cannot be undone.", action: "confirmation#confirm" }) do %>
        <%= heroicon "trash", variant: :outline %>
      <% end %>
    </div>
    <div class="edit">
      <%= link_to(edit_word_path(word)) do %>
        <%= heroicon "pencil-alt", variant: :outline %>
      <% end %>
    </div>
    <% if word.note.present? %>
      <div class="note">
        <div class="tooltip">
          <%= heroicon "annotation", variant: :outline %>
          <span class="tooltiptext"><%= word.note %></span>
        </div>
      </div>
    <% end %>
    <div class="cards-created">
      <%= button_to(word_toggle_card_created_path(word), method: :post, data: { controller: "disable", disable_with_value: "<div class=\"loader\"></div>", action: "disable#disableButton", disable_target: "button" }) do %>
        <% if word.cards_created? %>
          <span title="Cards created">
            <%= heroicon "check", options: { class: "checked" } %>
          </span>
        <% else %>
          <span title="No cards created yet">
            <%= heroicon "plus", variant: :outline, options: { class: "unchecked" } %>
          </span>
        <% end %>
      <% end %>
    </div>

    <div class="translation">
      <span class="japanese" lang="jp"><%= word.japanese %></span>
      <span class="english">
        <%= heroicon "chevron-right", variant: :outline, options: { class: "right-arrow" } %>
        <%= word.english %>
      </span>
    </div>

    <div class="source">
      <span class="added-on">Added <%= word.added_to_list_on %></span>
      <% if word.source_name.present? %>
        <span class="source-name">
          <span class="large-only">from </span>
          <%= word.source_name %><%= word.source_reference.present? ? "," : "" %>
        </span>
        <span class="source-reference"><%= word.source_reference %></span>
      <% end %>
    </div>

    <div class="resources">
      <%# The https://github.com/jhunschejones/Chrome-According-To-Josh/tree/main/save-audio-japanesepod101 chrome extension is required for this search to work %>
      <%= link_to("https://www.japanesepod101.com/japanese-dictionary/?search=#{word.japanese}", target: "_blank", title: "Jpod101 dictionary search") do %>
        <%# https://www.japanesepod101.com/static/images/japanesepod101/favicon.ico %>
        <%= image_tag "resource_icons/jpod101.png", height: "20px" %>
      <% end %>
      <%= link_to("https://www.japandict.com/?s=#{word.japanese}&lang=eng", target: "_blank", title: "JapanDict search") do %>
        <%# https://www.japandict.com/favicon-96x96.png?v=3.8 %>
       <%= image_tag "resource_icons/japandict.png", height: "20px" %>
      <% end %>
      <%= link_to("https://jisho.org/search/#{word.japanese}", target: "_blank", title: "Jisho search") do %>
        <%# https://assets.jisho.org/assets/favicon-062c4a0240e1e6d72c38aa524742c2d558ee6234497d91dd6b75a182ea823d65.ico %>
        <%= image_tag "resource_icons/jisho.png", height: "20px" %>
      <% end %>
      <%= link_to("https://forvo.com/word/#{word.japanese}/#ja", target: "_blank", title: "Forvo search") do %>
        <%# https://forvo.com/apple-touch-icon.png %>
        <%= image_tag "resource_icons/forvo.png", height: "20px" %>
      <% end %>
      <%= link_to("https://tatoeba.org/en/sentences/search?from=jpn&has_audio=yes&native=&orphans=no&query=#{word.japanese}&sort=relevance&sort_reverse=&tags=&to=&trans_filter=limit&trans_has_audio=&trans_link=&trans_orphan=&trans_to=&trans_unapproved=&trans_user=&unapproved=no&user=", target: "_blank", title: "Tatoeba sentence search") do %>
        <%# https://tatoeba.org/img/tatoeba.svg?1634498597 %>
        <%= image_tag "resource_icons/tatoeba.png", height: "20px" %>
      <% end %>
      <%= link_to("https://www.japanesepod101.com/japanese-word-lists/?search=#{word.japanese}&coreX=2000", target: "_blank", title: "Jpod101 sentence search") do %>
        <%# https://d1pra95f92lrn3.cloudfront.net/media/thumb/23728_256square.jpg %>
        <%= image_tag "resource_icons/jpod101_2000.jpg", height: "20px" %>
      <% end %>
      <%= link_to("https://www.google.com/search?q=#{word.japanese}&source=lnms&tbm=isch", target: "_blank", title: "Google image search") do %>
        <%= image_tag "resource_icons/google-images.png", height: "20px" %>
      <% end %>
      <%= link_to("https://www.123rf.com/stock-photo/#{english_with_only_letters(word)}.html", target: "_blank", title: "123RF image search") do %>
        <%= image_tag "resource_icons/123rf.png", height: "20px" %>
      <% end %>
      <%= link_to("https://unsplash.com/s/photos/#{english_with_only_letters(word)}", target: "_blank", title: "Unsplash image search") do %>
        <%= image_tag "resource_icons/unsplash.png", height: "20px" %>
      <% end %>
    </div>
  </div>
<% end %>
