<%= turbo_frame_tag dom_id(word) do %>
  <div class="word">
    <div class="translation">
      <span class="japanese" lang="jp"><%= word.japanese %></span>
      <span class="english">(<%= word.english %>)</span>
    </div>
    <div class="source">
      <span class="source-name"><%= word.source_name %></span>
      <span class="source-reference"><%= word.source_reference %></span>
    </div>
    <div class="added-on"><%= word.created_at.strftime("%m/%d/%Y") %></div>
    <div class="cards-created">
      <%= button_to(word_toggle_card_created_path(word), method: :post) do %>
        <% if word.cards_created? %>
          <span title="Cards created">âœ…</span>
        <% else %>
          <span title="No cards created yet">ðŸ†•</span>
        <% end %>
      <% end %>
    </div>
    <div class="edit"><%= link_to("âœï¸", edit_word_path(word)) %></div>
    <div class="delete"><%= button_to("ðŸ—‘ï¸", word_path(word), method: :delete, data: { turbo: "false" }) %></div>
  </div>
<% end %>
