<% if @word.valid? %>
  <%= turbo_stream.prepend "words_1" do %>
    <span class="hidden word-<%= @word.id %>-sent-via-turbostream"></span>
    <%= render partial: "words/word", locals: { word: @word } %>
  <% end %>

  <%= turbo_stream.replace "new-word-form" do %>
    <%= render "words/new_word_button" %>
  <% end %>

  <%= turbo_stream.remove "no-words-message" %>
<% else %>
  <%# copied from app/views/words/_form.html.erb:30 %>
  <%= turbo_stream.replace "create-word-button" do %>
    <%= submit_tag "Create Word", id: "create-word-button", class: "button-blue submit", data: { controller: "disable", disable_with_value: "Saving...", disable_use_direct_form_submit_value: !use_turbo_for_word_form?, action: "disable#disableButton", disable_target: "button" } %>
  <% end %>
<% end %>

<%= turbo_stream.replace "flashes", partial: "application/flashes" %>
