<h1 class="page-title">Import CSV</h1>

<%= form_tag(upload_words_path, method: :post, multipart: true, class: "import-csv-form") do %>
  <p>
    Prepare your CSV so that it is sorted with the words you already created
    cards for first. Then, map the columns in your CSV to the fields in your
    word list. If you are missing a field, set the value to '0'.
  </p>

  <div class="mapping-field-row">
    Column
    <%= text_field_tag :english, 1, autocomplete: "off", data: { lpignore: true } %>
    :
    <%= label_tag :english %>
  </div>
  <div class="mapping-field-row">
    Column
    <%= text_field_tag :japanese, 2, autocomplete: "off", data: { lpignore: true } %>
    :
    <%= label_tag :japanese %>
  </div>
  <div class="mapping-field-row">
    Column
    <%= text_field_tag :created_at, 3, autocomplete: "off", data: { lpignore: true } %>
    :
    <%= label_tag :created_at, "Date added to list (mm/dd/yy or mm/dd/yyyy)" %>
  </div>
  <div class="mapping-field-row">
    Column
    <%= text_field_tag :source_reference, 4, autocomplete: "off", data: { lpignore: true } %>
    :
    <%= label_tag :source_reference, "Source refrence (i.e. Chapter 12)" %>
  </div>


  <div class="last-created-card-row-field-row">
    <%= label_tag :last_created_card_row %>
    <%= text_field_tag :last_created_card_row, nil, autocomplete: "off", data: { lpignore: true }, required: true %>
  </div>

  <div class="source-name-field-row">
    <%= label_tag :source_name %>
    <%= text_field_tag :source_name, nil, autocomplete: "off", data: { lpignore: true }, placeholder: "Minna No Nihongo..." %>
  </div>

  <%= file_field_tag :csv_file, required: true %>

  <div class="includes-headers-field-row">
    <%= label_tag :csv_includes_headers, "CSV includes headers" %>
    <%= check_box_tag :csv_includes_headers, true, true %>
  </div>

  <%= submit_tag("Import words", class: "button-blue") %>
<% end %>
