<div class="words-import-page">
  <h1 class="page-title">Import words</h1>

  <p>
    Prepare a CSV of words to import into your jpstudy word list. The CSV collums will need to exactly match the following format. The first two columns are <strong>required</strong> to be present and the remaining columns may be left blank if desired.
  </p>

  <ul class="csv-format">
    <li>[0]<strong>English word or phrase</strong></li>
    <li>[1]<strong>Japanese word or phrase</strong></li>
    <li>[2]Source name (i.e. Minna no Nihongo)</li>
    <li>[3]Source reference (i.e. Chapter 12)</li>
    <li>[4]Checked off (true/false)</li>
    <li>[5]Checked off on (mm/dd/yyyy)</li>
    <li>[6]Added to list on (mm/dd/yyyy)</li>
    <li>[7]Note</li>
  </ul>

  <%= form_tag(upload_words_path(@current_user), method: :post, multipart: true, class: "import-csv-form") do %>
    <%= file_field_tag :csv_file %>

    <div class="includes-headers-field-row">
      <%= label_tag :csv_includes_headers, class: "switch", tabindex: "-1" do %>
        <%= check_box_tag :csv_includes_headers, true, true %>
        <span class="slider round"></span>
      <% end %>
      <span class="label-text">CSV includes headers</span>
    </div>

    <p class="inner-form-instructions">
      The import tool will prevent the creation of duplicate words based on the first two columns of the CSV. You may also use this tool to <em>update</em> existing words for easier bulk changes.
    </p>

    <div class="overwrite-matching-words-field-row">
      <%= label_tag :overwrite_matching_words, class: "switch", tabindex: "-1" do %>
        <%= check_box_tag :overwrite_matching_words, true, false %>
        <span class="slider round"></span>
      <% end %>
      <span class="label-text">Overwrite matching words</span>
    </div>

    <%= submit_tag("Import words", class: "button-purple", data: { controller: "disable", disable_with_value: "Importing...", action: "disable#disableButton", disable_target: "button" }) %>
  <% end %>
</div>
