<div class="words-list-page">
  <h1 class="page-title">
    Words
    <%= link_to(word_list_instructions_path, title: "What does this feature do?") do %>
      <%= heroicon "information-circle", variant: :outline, options: { class: "info-icon" } %>
    <% end %>
  </h1>

  <div class="actions">
    <%= link_to(new_word_path, class: "button-purple new-word") do %>
      <%= heroicon "plus", options: { class: "create-button-icon" } %>
      New word
    <% end %>
  </div>

  <%= render "filters" %>

  <div class="words-list-container">
    <%= turbo_frame_tag "words_#{@page}" do %>
      <%= render partial: "words/word", collection: @words, cached: true %>

      <% if @next_page %>
        <%= turbo_frame_tag "words_#{@next_page}", loading: :lazy, src: words_path(page: @next_page) do %>
          <h3 class="loading-message">
            <div class="loader"></div>
            <span>Loading more words...</span>
          </h3>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
