<p id="notice"><%= notice %></p>

<%= render @word %>

<div>
  <%= link_to "Edit this word", edit_word_path(@word) %> |
  <%= link_to "Back to words", words_path %>

  <%= button_to "Destroy this word", word_path(@word), method: :delete %>
</div>
