<div class="admin-tools-bar" data-controller="admin-tools" data-admin-tools-target="adminToolsBar">
  <div class="admin-details">
    <%# https://devcenter.heroku.com/articles/dyno-metadata %>
    <span class="admin-item">
      Release <%= ENV["HEROKU_RELEASE_VERSION"] %>
    </span>
    <span class="admin-item desktop-only">
      <%= ENV["HEROKU_SLUG_DESCRIPTION"] %>
    </span>
    <span class="admin-item desktop-only">
      <%= Time.parse(ENV["HEROKU_RELEASE_CREATED_AT"]).localtime.strftime("%b. %d, %Y %H:%M %Z") %>
    </span>
    <span class="admin-item desktop-only user-count-admin-item">
      <% user_count = Rails.cache.fetch("user-count/#{Date.today}") { User.count } %>
      <%= heroicon "user", variant: :outline, options: { class: "user-count-icon" } %>
      <span class="user-count">
        Users: <%= user_count %>
      </span>
    </span>
  </div>

  <div class="admin-links">
    <span class="admin-item">
      <a href="https://github.com/jhunschejones/jpstudy/actions" target="_blank">
        <span class="underline">Build</span>
        <%= heroicon "external-link", variant: :outline, options: { class: "external-link-icon" } %>
      </a>
    </span>
    <span class="admin-item">
      <a href="https://dashboard.heroku.com/apps/jpstudy" target="_blank">
        <span class="underline">Deploy</span>
        <%= heroicon "external-link", variant: :outline, options: { class: "external-link-icon" } %>
      </a>
    </span>
    <span class="admin-item">
      <a href="<%= ENV["NR_MONITORING_URL"] %>" target="_blank">
        <span class="underline">APM</span>
        <%= heroicon "external-link", variant: :outline, options: { class: "external-link-icon" } %>
      </a>
    </span>
    <span class="admin-item">
      <a href="<%= ENV["NR_LOGS_URL"] %>" target="_blank">
        <span class="underline">Logs</span>
        <%= heroicon "external-link", variant: :outline, options: { class: "external-link-icon" } %>
      </a>
    </span>

    <button class="close-admin-tools-button" data-action="click->admin-tools#close">
      <%= heroicon "x" %>
    </button>
  </div>
</div>
