<%# inspiration for putting the partial in this directory: https://thoughtbot.com/blog/directory-for-shared-partials-in-rails %>
<nav>
  <div class="left-links">
    <div class="dropdown-menu">
      <button class="hamburger"><%= heroicon "menu" %></button>
      <div class="dropdown-content">
        <%= render "main_nav_links" %>
      </div>
    </div>
  </div>
  <div class="center-links">
    <%= render "main_nav_links" %>
  </div>
  <div class="right-links">
    <% if @current_user.present? %>
      <%= button_to(logout_path, method: :delete, class: "logout-button") do %>
        <%= heroicon "logout" %>
        <small class="icon-subtext">Logout</small>
      <% end %>
    <% else %>
      <%= link_to(signup_path, class: "signup-button") do %>
        <%= heroicon "user-add" %>
        <small class="icon-subtext">Signup</small>
      <% end %>
      <%= link_to(login_path, class: "login-button") do %>
        <%= heroicon "login" %>
        <small class="icon-subtext">Login</small>
      <% end %>
    <% end %>
  </div>
</nav>
