<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jpstudy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav>
      <div class="left-links"></div>
      <div class="center-links">
        <%= link_to(words_path) do %>
          <%= heroicon "collection" %>
          <small class="icon-subtext">Words</small>
        <% end %>
        <%= link_to(import_words_path) do %>
          <%= heroicon "upload" %>
          <small class="icon-subtext">Import</small>
        <% end %>
        <% if @current_user %>
          <%= link_to(@current_user) do %>
            <%= heroicon "user-circle" %>
            <small class="icon-subtext">Profile</small>
          <% end %>
        <% end %>
      </div>
      <div class="right-links">
        <% if @current_user.present? %>
          <%= button_to(logout_path, method: :delete, class: "logout-button") do %>
            <%= heroicon "logout" %>
            <small class="icon-subtext">Logout</small>
          <% end %>
        <% else %>
          <%= link_to(signup_path, class: "signup-button") do %>
            <%= heroicon "user-add" %>
            <small class="icon-subtext">Signup</small>
          <% end %>
          <%= link_to(login_path, class: "login-button") do %>
            <%= heroicon "login" %>
            <small class="icon-subtext">Login</small>
          <% end %>
        <% end %>
      </div>
    </nav>
    <main>
      <section class="page-content">
        <% if flash[:alert] %>
          <div class="flash alert" data-controller="flash">
            <button class="close-flash-button" data-action="click->flash#close">&#x2715</button>
            <p class="notice"><%= flash[:alert] %></p>
          </div>
        <% elsif flash[:notice] %>
          <div class="flash warning" data-controller="flash">
            <button class="close-flash-button" data-action="click->flash#close">&#x2715</button>
            <p class="notice"><%= flash[:notice] %></p>
          </div>
        <% elsif flash[:success] %>
          <div class="flash success" data-controller="flash">
            <button class="close-flash-button" data-action="click->flash#close">&#x2715</button>
            <p class="notice"><%= flash[:success] %></p>
          </div>
        <% end %>

        <%= yield %>
      </section>
    </main>
  </body>
</html>
