<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jpstudy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# if flash[:alert] || flash[:notice] || flash[:success] %>
      <%# There may be another way to solve this, but the data-turbo-preview was %>
      <%# causing subsequent flash messages not to appear after an initial flash %>
      <%# was removed once. %>
      <meta name="turbo-cache-control" content="no-preview">
    <%# end %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <noscript><%= stylesheet_link_tag "noscript", "data-turbo-track": "reload" %></noscript>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path("favicon.ico") %>
  </head>
  <body>
    <%= render "navigation" %>
    <main>
      <section class="page-content" data-controller="keyboard-shortcuts">
        <%= render "flashes" %>
        <%= yield %>
      </section>
    </main>
  </body>
</html>
